<h1>Update Dish</h1>

<%= render "shared/errors" %>

<form action="<%= dish_url(@dish) %>" method="post">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="hidden"
    name="_method"
    value="patch">

  <label for="dish_name">Dish</label>
  <input
    type="text"
    name="dish[name]"
    value="<%= @dish.name %>"
    id="dish_name">

  <br>

  <label for="dish_description">Description</label>
  <input
      type="text"
      name="dish[description]"
      value="<%= @dish.description %>"
      id="dish_description">

  <br>

  <input type="submit" value="Update Dish">

  <br>

<%= link_to "Back to dishes", dishes_url %>

</form>
